footer p {
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 669px) {
        margin: 0.8% 0 0.9% 6.9%;
        padding-top:3%; 
    }
}

footer .icons {
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 15px;
    margin: 36px 100px 31px 0;
}

footer .icons i {
    margin: 36px 0px 31px 36px;

}

.fab {
   font-size: 16px;
   color: #060A24;
}

footer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 669px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}