
*, html {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    box-sizing: border-box;
    }

    body {
        max-width: 1440px;
        margin: 0 auto;
    }

    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (min-width: 669px) {
            margin: 3.1% 0 0 13.9%;
        }
    }
    
    .hero-main-text {
        color: $text-color;
        font-family: $primary-font;
        font-size: 36px;
        line-height: 42px;
        font-weight: 100;
        margin-top: 29px;
        margin-left: 16px;
        margin-right: 50px;
        @media screen and (min-width: 669px) {
            font-size:64px;
        }

        & span:nth-child(1) {
            text-decoration: line-through;
        }

        & span:nth-child(2) {
            font-size: 64px;
            color: $primary-color;
        }
    
    }
    
    .hero-button {
        background-color: $secondary-color;
        text-decoration: none;
        color: $text-color;
        width: 288px;
        height:48px;
        padding-top: 13px;
        padding-left: 96px;
        text-transform: uppercase;
        font-size: 18px;
        font-family: $secondary-text;
        margin: 0 auto;
        line-height: 22px;
        @media screen and (min-width:669px) {
            margin: 0;
        }
        
    }

    .hero-button:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        font-family: $secondary-text;
        font-size: 18px;
        transition: all ease 0.3s;
        
    }
   
    .hero-main-text__secondary {
        text-align: justify;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
        font-family: $secondary-text;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
    }

  
    .hero-main-text__secondary {
        margin-bottom: 36px;
        @media screen and (min-width: 669px) {
            font-size: 16px;
            line-height: 24px;
            width: 628px;
            height: 48px;
        }

    }




